name: create-demo-environment

# on merge to main from pull request (recommended)
on:
  workflow_dispatch:
    inputs:
      vcluster-name:
        description: "Name of vCluster to be used as demo domain prefix"
        required: true
      logo:
        description: "Company logo URL to override UI"
        default: "https://www.vcluster.com/pro/docs/media/vclusterpro_orange.svg"
      cluster:
        description: "Host cluster for vCluster"
        type: choice
        default: "worker-cluster-na"
        options: 
        - worker-cluster-na
        - worker-cluster-eu
      product:
        description: "Loft product to demo"
        type: choice
        default: "vcluster-pro"
        options: 
        - vcluster-pro
        - loft
        - devpod-pro
      create-dev-cluster:
        type: boolean
        description: 'Create dev vCluster to use as fake cluster'
        default: false
      connect-dev-cluster:
        type: boolean
        description: 'Connects dev vCluster to platform. Do not connect if you want to demo connecting a host cluster.'
        default: false
      install-rancher:
        type: boolean
        description: 'Install Rancher into Loft cluster'
        default: false
      centralized-admission-control:
        type: boolean
        description: 'Enable Centralized Admission Control demo'
        default: false
      argocd-app:
        type: boolean
        description: 'Include Argo CD Demo App'
        default: false
env:
  LOFT_CLI_VERSION:  'v3.4.5'
  VCLUSTER_NAME: ${{ inputs.vcluster-name }}
  DEV_VCLUSTER_NAME: ${{ inputs.vcluster-name }}-dev
  CLUSTER: ${{ inputs.cluster }}
  TEMPLATE_VERSION: "1.0.2"
  PRODUCT: ${{ inputs.product }}
  LOGO: ${{ inputs.logo }}
  REPO_NAME: 'hello-app-${{ inputs.vcluster-name }}'
  ARGOCD_APP: ${{ inputs.argocd-app || false }}
  CREATE_DEV_CLUSTER: ${{ inputs.create-dev-cluster || false }}

jobs:
  create-demo-env:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    steps:
      - id: checkout
        uses: actions/checkout@v4

      - id: install-loft-cli
        uses: loft-sh/setup-loft@v2
        with:
          version: ${{ env.LOFT_CLI_VERSION }}
          url: ${{ secrets.LOFT_URL }}
          # Specify your Loft access key here
          access-key: ${{ secrets.LOFT_SALES_DEMO_ACCESS_KEY }}
          kubectl-install: false
          kubectl-version: v1.28.2

      - id: install-vcluster-cli
        if: ${{ inputs.create-dev-cluster }}
        uses: loft-sh/setup-vcluster@main
        with:
          version: v0.19.5
          kubectl-install: false
      
      - id: set-domain
        run: |
          echo $CREATE_DEV_CLUSTER
          if [ "$CLUSTER" == "worker-cluster-na" ]
          then
            echo "BASE_DOMAIN=$VCLUSTER_NAME.us.demo.dev" >> $GITHUB_ENV
          else
            echo "BASE_DOMAIN=$VCLUSTER_NAME.eu.demo.dev" >> $GITHUB_ENV
          fi

      - id: create-dev-cluster
        if: ${{ inputs.create-dev-cluster }}
        run: |
          echo $DEV_VCLUSTER_NAME
          loft create vcluster $DEV_VCLUSTER_NAME --project sales-demos --recreate \
            --template demo-dev-cluster \
            --cluster $CLUSTER

      - id: create-demo-vcluster
        run: |
          loft create vcluster $VCLUSTER_NAME --project sales-demos --recreate \
            --template loft-demo --version $TEMPLATE_VERSION \
            --cluster $CLUSTER \
            --set loftProduct=$PRODUCT \
            --set uiLogoURL=$LOGO
          
          sed -i "s|REPLACE_BASE_DOMAIN|$BASE_DOMAIN|g" loft/projects.yaml
          sed -i "s|REPLACE_BASE_DOMAIN|$BASE_DOMAIN|g" loft/apps.yaml
          sed -i "s|LOFT_DEMO_GHCR_LOGIN_SECRET|${{ secrets.LOFT_DEMO_GHCR_LOGIN_SECRET }}|g" loft/sharedsecrets.yaml

          yq e -i ".spec.key = \"${{ secrets.LOFT_DEMO_ENV_ACCESS_KEY }}\"" loft/accesskey.yaml

          kubectl get pods -A
          
          while ! kubectl get projects.storage.loft.sh default; do
            echo "Waiting for loft default project...";
            sleep 3; 
          done

          while ! kubectl get crd apps.storage.loft.sh; do
            echo "Waiting for argo cd applicationset crd...";
            sleep 3; 
          done
          
          kubectl delete VirtualClusterTemplate vcluster-pro-template --wait
          kubectl apply -f ./loft
          kubectl apply -f ./loft-p-api-framework
          
          while ! kubectl get configmap argocd-rbac-cm -n argocd; do
            echo "Waiting for argocd rbac configmap...";
            sleep 1; 
          done
          
          yq e -i ".data.githubAppID = \"${{ secrets.BASE64_LOFT_DEMOS_GITHUB_APP_ID }}\"" argocd/loft-demo-repo-cred.yaml
          yq e -i ".data.githubAppInstallationID = \"${{ secrets.BASE64_LOFT_DEMOS_GITHUB_APP_INSTALL_ID }}\"" argocd/loft-demo-repo-cred.yaml
          yq e -i ".data.githubAppPrivateKey = \"${{ secrets.BASE64_LOFT_DEMOS_GITHUB_APP_KEY }}\"" argocd/loft-demo-repo-cred.yaml
          more argocd/loft-demo-repo-cred.yaml
          kubectl apply -f argocd/loft-demo-repo-cred.yaml
          
          kubectl delete pod -l app.kubernetes.io/name=argocd-applicationset-controller -n argocd

      - id: create-argocd-app-sets
        run: |
          sed -i "s|REPO_NAME|$REPO_NAME|g" argocd/argocd-appset.yaml
          sed -i "s|LOFT_DOMAIN|$BASE_DOMAIN|g" argocd/argocd-appset.yaml
          kubectl apply -f argocd/argocd-appset.yaml
          sed -i "s|REPO_NAME|$REPO_NAME|g" argocd/argocd-cluster-appset.yaml
          sed -i "s|LOFT_DOMAIN|$BASE_DOMAIN|g" argocd/argocd-cluster-appset.yaml
          kubectl apply -f argocd/argocd-cluster-appset.yaml

      - id: create-argocd-app
        if: ${{ inputs.argocd-app }}
        run: |
          yq e -i ".metadata.name = \"$REPO_NAME\"" argocd/argocd-app.yaml
          yq e -i ".spec.source.repoURL = \"https://github.com/loft-demos/$REPO_NAME.git\"" argocd/argocd-app.yaml
          yq e -i ".spec.destination.namespace = \"$REPO_NAME\"" argocd/argocd-app.yaml
          kubectl apply -f argocd/argocd-app.yaml

          loft login https://$BASE_DOMAIN --access-key ${{ secrets.LOFT_DEMO_ENV_ACCESS_KEY }}
          loft use vcluster api-framework-qa -p api-framework
          kubectl create namespace $REPO_NAME --dry-run=client -o yaml | kubectl apply -f -
          kubectl create secret docker-registry ghcr-login-secret -n $REPO_NAME --docker-server=https://ghcr.io \
            --docker-username=km-demos --docker-password=${{ secrets.KM_MANAGE_PACKAGES_TOKEN }} --docker-email=km@kurtmadel.com

      - id: install-rancher
        if: ${{ inputs.install-rancher }}
        run: |
          echo "installing Rancher"
          helm repo add rancher-stable https://releases.rancher.com/server-charts/stable
          helm repo update
          helm upgrade --install rancher rancher-stable/rancher --version 2.7.9 \
             --create-namespace \
            --namespace cattle-system \
            --set hostname="rancher-$BASE_DOMAIN" \
            --set bootstrapPassword=admin \
            --set ingress.enabled=true \
            --set ingress.ingressClassName="nginx" \
            --set ingress.tls.source=secret \
            --set tls="ingress"

      - id: create-centralized-admission-control-demo
        if: ${{ inputs.centralized-admission-control }}
        run: |
          echo "enabling centralized-admission-control demo"
          helm repo add kyverno https://kyverno.github.io/kyverno/
          helm repo update
          helm upgrade --install kyverno kyverno/kyverno -n kyverno --create-namespace --version 3.1.4 --wait
          kubectl apply -f ./vcluster-centralized-admission-control

      - id: connect-dev-cluster
        if: ${{ inputs.create-dev-cluster && inputs.connect-dev-cluster }}
        run: |
          loft login ${{ secrets.LOFT_URL }} --access-key ${{ secrets.LOFT_SALES_DEMO_ACCESS_KEY }}
          loft use vcluster $DEV_VCLUSTER_NAME
          vcluster login https://$BASE_DOMAIN --access-key ${{ secrets.LOFT_DEMO_ENV_ACCESS_KEY }}
          vcluster pro connect cluster dev-cluster --display-name "Dev Cluster" 

      - id: generate-githubapp-token
        uses: tibdex/github-app-token@v1.8.0
        with:
          app_id: ${{ secrets.LOFT_DEMOS_GITHUB_APP_ID }}
          private_key: ${{ secrets.LOFT_DEMOS_GITHUB_APP_KEY }}
      
      - id: create-echo-repo-from-template
        shell: bash
        env:
          GITHUB_TOKEN: ${{ steps.generate-githubapp-token.outputs.token }}
        run: |
          echo $BASE_DOMAIN
          gh  api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/loft-demos/echo-app-template/generate \
            -f owner='loft-demos' \
            -f name="$REPO_NAME" \
            -f description='Simple ehco app to use with vCluster.Pro ArgoCD demo.' \
            -F include_all_branches=false \
            -F private=false
          echo '{"name":"web","active":true,"events":["push","release"],"config":{"url":"'"https://argocd-$BASE_DOMAIN/api/webhook"'","secret":"'"${{ secrets.ARGOCD_GITHUB_WEBHOOK_SECRET }}"'","content_type":"json","insecure_ssl":"0"}}' | gh api repos/loft-demos/$REPO_NAME/hooks --input - -X POST
          echo '{"name":"web","active":true,"events":["pull_request"],"config":{"url":"'"https://argocd-appset-$BASE_DOMAIN/api/webhook"'","secret":"'"${{ secrets.ARGOCD_GITHUB_WEBHOOK_SECRET }}"'","content_type":"json","insecure_ssl":"0"}}' | gh api repos/loft-demos/$REPO_NAME/hooks --input - -X POST

      - id: clone-repo-copy
        uses: actions/checkout@v4
        with:
          repository: loft-demos/${{ env.REPO_NAME }}
          token: ${{ steps.generate-githubapp-token.outputs.token }}
          path: ${{ env.REPO_NAME }}
          ref: main

      - id: wait-for-repo
        shell: bash
        run: |
          while ! curl -s -o /dev/null -w "%{http_code}" https://github.com/loft-demos/$REPO_NAME; do
            echo "Waiting for repo to be created...";
            sleep 1; 
          done
          
      - id: update-cloned-repo
        shell: bash
        env:
          GITHUB_TOKEN: ${{ steps.generate-githubapp-token.outputs.token }}
        run: |
          cd $REPO_NAME
          ls -la
          git config --global init.defaultBranch main
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git config pull.rebase false
          git remote set-url origin https://x-access-token:$GITHUB_ACCESS_TOKEN@github.com/loft-demos/$REPO_NAME.git
          git checkout main

          sed -i "s|REPO_NAME|$REPO_NAME|g" helm-chart/Chart.yaml
          sed -i "s|REPO_NAME|$REPO_NAME|g" helm-chart/values.yaml
          sed -i "s|REPLACE_LOFT_DEMO_DOMAIN|$BASE_DOMAIN|g" helm-chart/values.yaml
          sed -i "s|REPLACE_LOFT_DEMO_DOMAIN|$BASE_DOMAIN|g" .github/workflows/create-pr-preview.yaml
          sed -i "s|REPLACE_LOFT_DEMO_DOMAIN|$BASE_DOMAIN|g" .github/workflows/delete-pr-preview.yaml
          git commit -am "updating repo name and loft demo url"
          git push origin main

          echo >> src/main.go
          git commit -am "trigger src build"
          git push origin main

          git checkout -b feature-x
          echo >> src/Dockerfile
          git commit -am "adding new feature X"
          git push origin feature-x
            
          curl -H 'Accept: application/vnd.github.antiope-preview+json' \
            -H "authorization: Bearer $GITHUB_TOKEN" \
            --data '{"title":"New Feature X","head":"feature-x","base":"main"}' \
            https://api.github.com/repos/loft-demos/$REPO_NAME/pulls

          